*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Monospaced Number', 'Chinese Quote', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-top: 6px solid HSLA(209, 100%, 60%, 1);
	/* padding: 20px 10px; */
}
